<div class="main-content">

    <div class="custom-class-for-style divisions-component-content">

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="media-container" *ngFor="let division of divisionsList | searchPipe : searchText"
                        style="margin-top: 10px;" (click)="getDivision(division)">
                        <div class="media">
                            <div class="media-body">
                                <h6 class="division-divisionNameEn text-capitalize">{{division.enName }}</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8" *ngIf="divisionNew">
                    <p *ngIf="!divisionNew" class="align-middle">Click on Division To display it's Name in Arabic and
                        English</p>

                    <ul class="divisions-content">
                        <li>
                            <label><span style="color: #b00006;"> Division-Name English :</span></label><br>
                            <label>
                                <h5>{{divisionNew.enName}}</h5>
                            </label>
                            <br><br>
                            <label><span style="color: #b00006;"> Division-Name Arabic :</span></label><br>
                            <label>
                                <h5>{{divisionNew.arName}}</h5>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>