<div class="custom-class-for-style users-component-content">
    <!--  -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-container">
                    <input type="text" class="form-control"  placeholder="&#xf002; Search users" [(ngModel)]="searchText">
                </div>
            </div>
            <!-- <div>
                hhh:  {{usersList}}
            </div> -->
            <div class="col-lg-12" >
               <div class="users-content">
                <div class="media-container" *ngFor="let user of userData | searchPipe : searchText;let i = index"
                (click)="goToUserDetails(user);
                setIndex(i);"
                [class.active]="selectedIndex === i" 
                >
                    <div class="media">
                        <a class="image-container">
                            <img  class="thumbnail-image align-self-center" src='{{user?.imagePath}}' 
                            onerror="this.src='assets/images/placeholder-image-blank.png';"  alt="user image" />
                        </a>
                        <div class="media-body">
                          <h6 class="user-name text-capitalize">{{user.firstName +' '+ user.lastName}}</h6>
                          <p class="compony-name text-capitalize">{{ user.companyInfo.companyName }}</p>
                        </div>
                    </div>
                    <div class="users-btns">
                        <a routerLink="/users/{{user.id}}" class="btn btn-flat">View</a>
                    </div>
                </div>
                <!-- <pagination-controls (pageChange)="p=$event"></pagination-controls> -->
               </div>
            </div>
        </div>
    </div>
</div>
