@import "../../assets/custom-shared-styles/custom-style.scss";
.users-btns{
    .btn-flat{
        background: transparent;
        border: 1px solid #c31432;
        color: $black !important;
        font-size: .9rem;
        background: #c31432;
        border: 1px solid #c31432;
        color: $white !important;
        font-size: 0.8rem;
    }
}
// .users-content{
//     // background: $gray;
//     padding: 5px 10px;
//     float: left;
//     overflow-y: auto;
//     height: 70vh;
//     border-radius: 12px;
// }
.active{
    // background-color: blue;
    border: 1px solid #c31432
}
