.navbar{
    padding: 10px 0 0 0;
    background-color: #c31432 !important;
}
.navbar .navbar-brand, .nav-item{
    color: #ffffff
}
.navbar.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1030;
    width: 81%;
    left: auto
}