.custom-class-for-style {
    padding: 20px 0 0 0;
}
.countries-data-content {
    p {
        margin-top: 0;
        margin-bottom: 0 !important;
        border-bottom: 1px solid #e2e2e2;
        padding: 10px;
    }
}

.custom-class-for-style{
span{
color: #b00006;
}

strong{
    color: #b00006;
    }
}