// fonts //
@font-face {
    font-family: 'Segoe';
    src: url(/assets/fonts/SegoeUI.ttf);
}

@font-face {
    font-family: 'Helvetica';
    src: url(/assets/fonts/HelveticaNeue.ttf);
}
@font-face {
    font-family: 'fira-Serif';
    src: url(/assets/fonts/FiraSans-Regular.ttf);
}
// colors //
$background-color : #d8d8d8;
$second-background-color: #2190CF;
$anchor-color: #2190CF;
$main-color: #4a4a4a;