<div class="main-content">
    
<div class="custom-class-for-style sitetypes-component-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-container" style="margin-top: 10px;">
                    <input type="text" class="form-control"  placeholder="&#xf002; Search sitetypes" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-lg-4" >
                <div class="media-container" 
                *ngFor="let sitetype of sitetypeData | searchPipe : searchText" 
                style="margin-top: 10px;"
                (click)="getSiteType(sitetype)">
                    <div class="media">
                        <div class="media-body">
                          <h6 class="sitetype-sitetypeNameEn text-capitalize">{{sitetype.siteTypeEn }}</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8" *ngIf="siteTypeNew">
                <p *ngIf="!siteTypeNew" class="align-middle">Click on SiteType To display it's Name in Arabic and English</p>
        
                <ul class="siteTypes-content" >
                  <li> 
                    <label><span style="color: #b00006;"> SiteTypeName English :</span></label><br>
                     <label><h5>{{siteTypeNew.siteTypeEn}}</h5></label>
                  <br><br>
                  <label><span style="color: #b00006;"> SiteTypeName Arabic :</span></label><br>
                   <label><h5>{{siteTypeNew.siteTypeAr}}</h5></label>
                  </li>
                </ul>
              </div> 
            <!--  -->
            
        </div>
    </div>
</div>
</div>