<div class="main-content">
    <div class="custom-class-for-style users-list">
        <!--  -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <app-users (zzid) ="SelcetId($event)" (userDetails)="SelectData($event)" (siteTimeGroupData)="selectTimeGroup($event)">
                    </app-users>
                    <!-- <p>{{site | json}}</p> -->
                </div>
                <div class="col-md-8">
                    <app-user-details [userIdd]="id" [tstViewUser]="user" [siteTimeGroupsData]="siteTimeGroupData"></app-user-details>
                </div>
            </div>
        </div>
    </div>
</div>